/* formato index general */
.forminiciosub{
    font-family: sans-serif;
    margin: auto;
    width: 50%;
}

.forminicio{
    margin-top: 20%;
    padding-left: 31%;
}

#form{
    margin-top: 0;
    margin: auto;
}

#ul_home{
    margin-left: auto;
    width: auto;
    margin: auto;
}

#h1_home{
    margin-top: 45%;
    margin-left: 45%;
    width: 41%; /*medida fija: logo*/
    color: white;
}

#idiomas_home{
    display: inline;
    text-decoration: none;
    color: black;
}

#idiomas_home:hover{
    text-decoration: underline;
}


#div_home{
    margin: none;
    float: left;
    width: 50%;
    height: 50%;
}

/*paginas comunes*/

body{
    background: url(../img/fondo.png);
    font-family: sans-serif;
}

.wrap{
    width: 85%;
    margin: auto;
    height: 85%;
}

aside{
    background: rgba(190, 198, 200, 0.7);
    border:2px solid black;
    border-radius: 25px;
    float: left;
    width: 20%;
    height: 100%;
    margin: auto;
}

.content{
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid black;
    border-radius: 25px;
    float: right;
    width: 79%;
    height: 100%;
    margin: auto;
    word-wrap: break-word;

}

h1{
    background: url(../img/logo_web.png) no-repeat;
    border-radius: 25px;
    margin-top: 2%;
    height: 40px; /*medida fija: logo*/
    width: 400px; /*medida fija: logo*/
    border: 2px solid black;
}

ul{
    list-style: none;
}

.idioma{
    list-style: none;
    display: inline;
}

#idiomas{
    text-decoration: none;
    position: absolute;
    bottom: 7.5%;
    right: 10%;
}

#idiomas li:hover{
    text-decoration: underline;
}

h2{
    padding-left: 40px;
}

h3{
   padding-left: 20px; 
}

#opciones li{
    margin-top: 14%;
    margin-bottom: 14%;
    margin-left: 1%;
}

aside ul a{
    text-decoration: none;
    color: black;
}

aside ul a:hover{
    text-decoration: underline;
}

/*form recibir email*/

form{
    margin-top: 4%;
    padding-left: 4%;
}

form li{
    margin-top: 2%;
}

form li input{
    width: 70%;
    height: 13%;
    background-color: rgba(255, 255, 255, 0.30);
}

#submit{
    background-color: rgba(182, 237, 255, 0.50);
}

#submit:hover{
    background-color: black;
    color: white;
}

/*paragrafo para participar*/

#p_participar{
    padding-left: 4%;
}

/*mostrar PDF*/

iframe{
    margin-left: 4%;
    height: 80%;
    width: 90%;
}

/*lista de ediciones en pagina de leer edicion*/

.bancoediciones{
    display: inline;
}

.listaediciones{
    list-style: none;
    display: inline;
}

.img_home{
    max-width: 80%;
    max-height: 80%;
    margin-left: 10%;
    margin-top: 2%;
    opacity: 80%;
}

.formabsindexpage{
    width: 50%;
    float: right;
    background:none;
    border: none;
}

.meet_us{
    padding-left: 60px;
    padding-right: 60px;
    line-height: 60px;
    font-family: sans-serif;


}

@media screen and (min-width:1920px){
    .meet_us{
        font-size: 28;
    }

    #p_participar{
        font-size: 30;
    }

    form li input{
        font-size: 30;
    }

    h2{
        font-size: 30;
    }

    #h1_home{
        font-size: 70;
    }

    aside ul a:hover{
        font-size: 40;
    }

    #h1_home{
        font-size: 70;
    }

    #opciones li{
        font-size: 30;
    }

    #idiomas_home{
        font-size: 30;
    }

    .forminiciosub{
        font-size: 40;
    }
}

@media screen and (max-height: 1080px){
    .meet_us{
        font-size: 28;
        line-height: 60px;
    }

    #p_participar{
        font-size: 30;
    }

    form li input{
        font-size: 30;
    }

    h2{
        font-size: 30;
    }

    #h1_home{
        font-size: 70;
    }

    aside ul a:hover{
        font-size: 40;
    }

    #h1_home{
        font-size: 70;
    }

    #opciones li{
        font-size: 30;
    }

    #idiomas_home{
        font-size: 30;
    }

    .forminiciosub{
        font-size: 40;
    }
}


