#ul_home{
    width: 400px;
    margin: auto;
}

#h1_home{
    padding-left: 5%;
    width: 400px;
    background-color: black;
    color: white;
    font-size: 70;
}

#idiomas_home{
    display: inline;
    font-size: 60;
    text-decoration: none;
    color: black;
}

#idiomas_home:hover{
    text-decoration: underline;
}


#div_home{
    margin: auto;
    width: 55%;
    height: 50%;
}

body{
    background: url(../img/background.jpg);
    font-family: sans-serif;
}

.wrap{
    width: 80%;
    margin: auto;
    height: 80%;
}

aside{
    background: gray;
    border:2px solid black;
    float: left;
    width: 20%;
    height: 100%;
    margin: auto;
}

.content{
    background-color: whitesmoke;
    border: 2px solid black;
    float: right;
    width: 79%;
    height: 100%;
    margin: auto;

}

h1{
    background: url(../img/logo_web.png) no-repeat;
    
    height: 40px;
    width: 400px;
    border: 2px solid black;
}

ul{
    list-style: none;
}

.idioma{
    list-style: none;
    display: inline;
}

#idiomas{
    text-decoration: none;
    position: absolute;
    bottom: 10%;
    right: 12%;
}

#idiomas li:hover{
    text-decoration: underline;
}

h2{
    padding-left: 40px;
}

h3{
   padding-left: 20px; 
}

#opciones li{
    font-size: 22;
    margin-top: 20px;
    margin-bottom: 20px;
}

aside ul a{
    text-decoration: none;
    color: black;
}

aside ul a:hover{
    text-decoration: underline;
    font-size: 28px;
}

form li{
    margin-top: 20px;
}

form li input{
    font-size: 20;
    width: 400px;
    height: 50px;
}

#submit:hover{
    background-color: black;
    color: white;
}

#p_participar{
    padding-left: 40px;
    font-size: 30;
}

