.forminiciosub{
    font-family: sans-serif;
    font-size: 30;
    margin: auto;
    width: 400px;
}

.forminicio{
    margin-top: 80px;
    padding-left: 31%;
}

#form{
    margin-top: 80px;
    margin: auto;
}

#ul_home{
    margin-left: auto;
    width: auto;
    margin: auto;
}

#h1_home{
    margin-top: 40px;
    margin: auto;
    width: 400px;
    color: white;
    font-size: 70;
}

#idiomas_home{
    display: inline;
    font-size: 30;
    text-decoration: none;
    color: black;
}

#idiomas_home:hover{
    text-decoration: underline;
}


#div_home{
    margin: auto;
    width: 55%;
    height: 50%;
}

body{
    background: url(../img/fondo.png);
    font-family: sans-serif;
}

.wrap{
    width: 85%;
    margin: auto;
    height: 85%;
}

aside{
    background: rgba(190, 198, 200, 0.7);
    border:2px solid black;
    border-radius: 25px;
    float: left;
    width: 20%;
    height: 100%;
    margin: auto;
}

.content{
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid black;
    border-radius: 25px;
    float: right;
    width: 79%;
    height: 100%;
    margin: auto;

}

h1{
    background: url(../img/logo_web.png) no-repeat;
    border-radius: 25px;
    margin-top: 2%;
    height: 40px;
    width: 400px;
    border: 2px solid black;
}

ul{
    list-style: none;
}

.idioma{
    list-style: none;
    display: inline;
}

#idiomas{
    text-decoration: none;
    position: absolute;
    bottom: 7.5%;
    right: 10%;
}

#idiomas li:hover{
    text-decoration: underline;
}

h2{
    padding-left: 40px;
    font-size: 30;
}

h3{
   padding-left: 20px; 
}

#opciones li{
    font-size: 30;
    margin-top: 14%;
    margin-bottom: 14%;
    margin-left: 1%;
}

aside ul a{
    text-decoration: none;
    color: black;
}

aside ul a:hover{
    text-decoration: underline;
    font-size: 40;
}

form{
    margin-top: 4%;
}

form li{
    margin-top: 20px;
}

form li input{
    font-size: 30;
    width: 800px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.30);
}

#submit{
    background-color: rgba(182, 237, 255, 0.50);
}

#submit:hover{
    background-color: black;
    color: white;
}

#p_participar{
    padding-left: 40px;
    font-size: 30;
}

iframe{
    margin-left: 4%;
    height: 80%;
    width: 90%;
}

.bancoediciones{
    display: inline;
}

.listaediciones{
    list-style: none;
    display: inline;
}
